@use '../abstracts';

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(95%) sepia(100%) saturate(0%) hue-rotate(266deg) brightness(111%) contrast(100%);
    --body-bg: #292E39;
    --header-bg: #171C28;
    --header-act-group-bg: #292E39;
    --header-act-group-shadow: rgba(0, 0, 0, 0.20);
    --header-act-separate: #EDEDF6;


    // Dropdown
    --dropdown-bg: #2d3340;
    --dropdown-shadow: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(33%) saturate(379%) hue-rotate(183deg) brightness(95%) contrast(92%);
    --dropdown-main-border: #171C28;
    --dropdown-color-content: #B9BABE;
    --dropdown-color-icon: brightness(0) saturate(100%) invert(95%) sepia(1%) saturate(378%) hue-rotate(192deg) brightness(95%) contrast(114%);
    
    @include abstracts.screen(lg) {
        --header-shadow-md: rgba(0, 0, 0, 0.20);
    }

    // Sidebar
    --sidebar-shadow: rgba(23, 28, 40, 0.40);

    // Category
    --cate-item-bg: #171C28;
    --cate-item-thumb: #292E39;
    
    // filter btn
    --filter-btn-color: #fff;
    --filter-btn-bg: #171C28;

    // button like
    --product-card-btn-like-shadow: rgba(124, 124, 124, 0.20);
    --product-card-btn-like-bg: #292E39;
    
    // product card
    --product-card-bg: #171C28;
    --product-card-shadow: rgba(0, 0, 0, 0.20);

    // filter 
    --filter-bg: #292E39;
    --filter-drop-shadow: rgba(0, 0, 0, 0.40);
    --filter-tag-bg: #171C28;
    --form-placeholder-color: #9E9DA8;
    --filter-form-arrow: brightness(0) saturate(100%) invert(18%) sepia(8%) saturate(1192%) hue-rotate(183deg) brightness(93%) contrast(96%)
}