@use '../abstracts';

.dropdown {
    --dropdown-padding: 30px;
    --max-heigh-main: calc(min(582px, 100vh - 158px) - var(--dropdown-padding) * 2 );

    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    padding-top: 54px;
    display: none;

    @include abstracts.screen (lg) {
        position: initial;
        display: none !important;
        --max-heigh-main: auto;
        padding: 0;
    }

    &__inner {
        position: relative;

        padding: var(--dropdown-padding );
        border-radius: 20px;
        background: var(--dropdown-bg);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);

        @include abstracts.screen (lg) {
            position: initial;

            padding: 0 40px;
            background: transparent;
            border-radius: 0;
            box-shadow: none;
        }

        @include abstracts.screen (sm) {
            padding: 0 20px;
        }

        &::before {
            content: url(../icons/dropdown-arrow.svg);
            position: absolute;
            top: -10px;
            left: var(--arrow-left-pos);
            filter: var(--dropdown-arrow-color);
            @include abstracts.screen (lg) {
                content: none;
            }
        }
    }

    &-main {
        display: flex;
        column-gap: 14px;
        width: 292px;
        max-height: var(--max-heigh-main);
        border-right: 1px solid var(--dropdown-main-border);
        overflow-y: auto;

        @include abstracts.screen(lg) {
            border-right: none;
            overflow-y: initial;
        }

        &__content {
            flex-grow: 1;
            & .dropdown-main__icon {
                @include abstracts.screen(lg) {
                    display: block;
                }
            }
        }

        &__icon {
            position: relative;

            flex-shrink: 0;
            width: 36px;
            height: 36px;

            @include abstracts.screen(xl) {
                display: none;
            }
        }

        &__cate-1 {
            width: 30px;
            height: 30px;
            object-fit: contain ;
        }

        &__cate-2 {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 24px;
            height: 24px;
            object-fit: contain;
            filter: var(--dropdown-color-icon);
        }
    }

    &-heading {
        margin-top: 4px;
        font-weight: 500;
        line-height: 150%;
        color: var(--dropdown-color-content);
    }

    &__list {
        margin-top: 19px;

        @include abstracts.screen (lg) {
           margin-top: 0;
        }
    }

    &__item:hover > &__link,
    .menu-column__item--active > .dropdown__link,
    .sub-menu__item:hover > .sub-menu__link {
        font-weight: 500;
        color: #0071DC;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
        color: var(--dropdown-color-content);
    }
}

.menu-column__item--active .sub-menu {
    display: grid;
}

.top-menu {
    position: relative;

    @include abstracts.screen (lg) {
        // height: auto;
     }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 292px;

    display: none;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto;
    padding-left: var(--dropdown-padding);

    @include abstracts.screen(lg) {
        position: initial;

        grid-template-columns: 1fr;
        padding: 0;
    }

    &__row {
        border-right: none;
        overflow-y: initial;
        width: auto;

        @include abstracts.screen(lg) {
            margin-top: 10px;
        }
    }

    &__row + .sub-menu__row {
        margin-top: 20px;
    }

    &--not-main {
        position: initial;
        inset: initial;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 0;
        height: var(--max-heigh-main);

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
            // height: auto;
        }

        & .dropdown-main__icon {
            @include abstracts.screen(lg) {
                display: block;
            }
        }
    }

    &__list {
        @include abstracts.screen(lg) {
            margin-top: 20px;
        }
    }
}