*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Gordita', sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

a, button, input, textarea, select {
    font-family: inherit;
    color: inherit;
}

.icon {
    filter: var(--icon-color);
}